<div class="myconteiner">
  <h1>Учні ІПЗс-2017</h1>
  <div *ngFor="let i of arr let index = index"  class="myrow">
    <input type="checkbox" [checked]="i.checked" [id]="i.id" (click)="onchange(index)" class="form-check-input">
    <label [for]="i.id" class="form-check-label">{{ i.lastname + "   " + i.name}}</label>
    <button (click)="remove(index)" type="button" class="btn btn-primary btn-sm"> remove </button>
    <button (click)="edit(index)" type="button" class="btn btn-primary btn-sm"> edit </button>
    <div class="edit" *ngIf="i.edit">
      <div>
        <p>last name</p><input type="text"  [(ngModel)]="i.lastname"  placeholder=" last name">
      </div>
      <div>
        <p>name</p><input type="text"  [(ngModel)]="i.name" placeholder=" name">
      </div>
    </div>
  </div>
</div>

<div class="create">
  <input type="text"  [(ngModel)]="lastname" [value]="valuelastname" placeholder="   last name" #valueLast>
  <input type="text"  [(ngModel)]="name" [value]="valuename" placeholder="   name" #valueName>
  <button (click)="create(name,lastname,valueLast,valueName)"> create </button>
</div>



